dev/test/files/dataXml/dataXML.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xs:schema
  xmlns="http://sashimi.sourceforge.net/schema_revision/DataXML_0.1"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://sashimi.sourceforge.net/schema_revision/DataXML_0.1">
	<xs:element name="dataXML" type="dataXML"/>
	<xs:complexType name="dataXML">
		<xs:sequence>
			<xs:element name="admin" type="Admin" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cvList" type="CVList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="paramGroupList" type="ParamGroupList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="sampleList" type="SampleList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="instrumentList" type="InstrumentList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="softwareList" type="SoftwareList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dataProcessingList" type="DataProcessingList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dataGroupList" type="DataGroupList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="spectrumList" type="SpectrumList" minOccurs="0" maxOccurs="1"/>
			<xs:element name="experimentList" type="ExperimentList" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="accession" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Admin">
		<xs:sequence>
			<xs:element name="sourceFileList" type="SourceFileList"/>
			<xs:element name="contact" type="Contact" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:attribute name="first" type="xs:string"/>
		<xs:attribute name="last" type="xs:string"/>
		<xs:attribute name="phone" type="xs:string"/>
		<xs:attribute name="email" type="xs:string"/>
		<xs:attribute name="URI" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SourceFileList">
		<xs:sequence>
			<xs:element name="sourceFile" type="SourceFile" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="SourceFile">
		<xs:sequence>
			<xs:element name="fileChecksum" type="FileChecksum"/>
		</xs:sequence>
		<xs:attribute name="fileName" type="xs:string"/>
		<xs:attribute name="filePath" type="xs:string"/>
		<xs:attribute name="fileType" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="FileChecksum">
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SampleList">
		<xs:sequence>
			<xs:element name="sample" type="Sample" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Sample">
		<xs:complexContent>
			<xs:extension base="ParamGroup"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExperimentList">
		<xs:sequence>
			<xs:element name="experiment" type="Experiment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Experiment">
		<xs:sequence>
			<xs:element name="spectrumList" type="SpectrumList"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="instrumentRef" type="xs:string"/>
		<xs:attribute name="sampleRef" type="xs:string"/>
		<xs:attribute name="sourcefileRef" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="InstrumentList">
		<xs:sequence>
			<xs:element name="instrument" type="Instrument" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Instrument">
		<xs:complexContent>
			<xs:extension base="Component"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Component">
		<xs:sequence>
			<xs:element name="cvParam" type="CVParam" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="userParam" type="UserParam" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="paramGroupRef" type="ParamGroupRef" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="source" type="Source" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="analyzer" type="Analyzer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="detector" type="Detector" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="software" type="Software" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Source">
		<xs:complexContent>
			<xs:extension base="Component"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Analyzer">
		<xs:complexContent>
			<xs:extension base="Component"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Detector">
		<xs:complexContent>
			<xs:extension base="Component"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataProcessingList">
		<xs:sequence>
			<xs:element name="dataProcessing" type="DataProcessing" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="DataProcessing">
		<xs:sequence>
			<xs:element name="processingMethod" type="ParamGroup"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="softwareRef" type="xs:string"/>
		<xs:attribute name="order" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="SoftwareList">
		<xs:sequence>
			<xs:element name="software" type="Software" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Software">
		<xs:complexContent>
			<xs:extension base="Component">
				<xs:attribute name="name" type="xs:string"/>
				<xs:attribute name="version" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CV">
		<xs:attribute name="cvLabel" type="xs:string"/>
		<xs:attribute name="fullName" type="xs:string"/>
		<xs:attribute name="version" type="xs:string"/>
		<xs:attribute name="address" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CVList">
		<xs:sequence>
			<xs:element name="cv" type="CV" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ParamGroupList">
		<xs:sequence>
			<xs:element name="paramGroup" type="ParamGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ParamGroup">
		<xs:sequence>
			<xs:element name="cvParam" type="CVParam" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="userParam" type="UserParam" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="paramGroupRef" type="ParamGroupRef" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ParamGroupRef">
		<xs:attribute name="ref" type="xs:string"/>
		<xs:attribute name="label" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CVParam">
		<xs:attribute name="cvLabel" type="xs:string"/>
		<xs:attribute name="accession" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="UserParam">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SpectrumData">
		<xs:sequence>
			<xs:element name="binaryData" type="BinaryDataArray" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="BinaryDataArray">
		<xs:complexContent>
			<xs:extension base="ParamGroup">
				<xs:sequence>
					<xs:element name="binary" type="xs:base64Binary"/>
				</xs:sequence>
				<xs:attribute name="precision" type="xs:string"/>
				<xs:attribute name="compressionType" type="xs:string"/>
				<xs:attribute name="arrayLength" type="xs:int"/>
				<xs:attribute name="encodedLength" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataGroup">
		<xs:complexContent>
			<xs:extension base="ParamGroup">
				<xs:sequence>
					<xs:element name="delimitedData" type="DelimitedDataArray" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="stringData" type="StringDataArray" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="binaryData" type="BinaryDataArray" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="sampleRef"/>
				<xs:attribute name="experimentRef"/>
				<xs:attribute name="spectrumRef"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataGroupList">
		<xs:sequence>
			<xs:element name="dataGroup" type="DataGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="DelimitedDataArray" abstract="true">
		<xs:complexContent>
			<xs:extension base="ParamGroup">
				<xs:attribute name="type" type="xs:string"/>
				<xs:attribute name="length" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StringDataArray">
		<xs:complexContent>
			<xs:extension base="ParamGroup">
				<xs:sequence>
					<xs:element name="items" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="length" type="xs:int"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="BooleanList">
		<xs:list itemType="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="DelimitedBooleanArray">
		<xs:complexContent>
			<xs:extension base="DelimitedDataArray">
				<xs:sequence>
					<xs:element name="items" type="BooleanList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DoubleList">
		<xs:list itemType="xs:double"/>
	</xs:simpleType>
	<xs:complexType name="DelimitedDoubleArray">
		<xs:complexContent>
			<xs:extension base="DelimitedDataArray">
				<xs:sequence>
					<xs:element name="items" type="DoubleList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="FloatList">
		<xs:list itemType="xs:float"/>
	</xs:simpleType>
	<xs:complexType name="DelimitedFloatArray">
		<xs:complexContent>
			<xs:extension base="DelimitedDataArray">
				<xs:sequence>
					<xs:element name="items" type="FloatList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="IntList">
		<xs:list itemType="xs:int"/>
	</xs:simpleType>
	<xs:complexType name="DelimitedIntArray">
		<xs:complexContent>
			<xs:extension base="DelimitedDataArray">
				<xs:sequence>
					<xs:element name="items" type="IntList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TimeList">
		<xs:list itemType="xs:time"/>
	</xs:simpleType>
	<xs:complexType name="DelimitedTimeArray">
		<xs:complexContent>
			<xs:extension base="DelimitedDataArray">
				<xs:sequence>
					<xs:element name="items" type="TimeList"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InstrumentSetting">
		<xs:complexContent>
			<xs:extension base="ParamGroup">
				<xs:attribute name="instrumentRef" type="xs:string"/>
				<xs:attribute name="analyzerLabel" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpectrumList">
		<xs:sequence>
			<xs:element name="spectrum" type="Spectrum" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Spectrum">
		<xs:sequence>
			<xs:element name="spectrumHeader" type="SpectrumHeader"/>
			<xs:element name="spectrumData" type="SpectrumData"/>
		</xs:sequence>
		<xs:attribute name="scanNumber" type="xs:int"/>
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SpectrumHeader">
		<xs:sequence>
			<xs:element name="cvParam" type="CVParam" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="acquisitionList" type="AcquisitionList" minOccurs="0"/>
			<xs:element name="precursorList" type="PrecursorList" minOccurs="0"/>
			<xs:element name="instrumentSetting" type="InstrumentSetting" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcquisitionList">
		<xs:sequence>
			<xs:element name="acquisition" type="Acquisition" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
		<xs:attribute name="spectrumType" type="xs:string"/>
		<xs:attribute name="methodOfCombination" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Acquisition">
		<xs:complexContent>
			<xs:extension base="ParamGroup">
				<xs:attribute name="acqNumber" type="xs:int"/>
				<xs:attribute name="spectrumRef" type="xs:string"/>
				<xs:attribute name="sourceFileRef" type="xs:string"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Precursor">
		<xs:sequence>
			<xs:element name="ionSelection" type="ParamGroup"/>
			<xs:element name="activation" type="ParamGroup"/>
		</xs:sequence>
		<xs:attribute name="msLevel" type="xs:int"/>
		<xs:attribute name="spectrumRef" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PrecursorList">
		<xs:sequence>
			<xs:element name="precursor" type="Precursor" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
</xs:schema>